/* Other rules */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 20px 20px;
}

h2 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 100px;
}

p {

    font-size: 15px;
}

.container {
    width: 50%;
    height: 100vh;
    margin: auto;
    margin-top: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
  
.item {
    width: 200px;
    height: 200px;
    background-color: white;
}

.border-red {
    border: 4px solid red;
}

.border-green {
    border: 4px solid green;

}

.border-blue {
    border: 4px solid lightblue;

}

.border-yellow {
    border: 4px solid yellow;

}

.border-pink {
    border: 4px solid pink;

}

footer {
    background-color: rgb(187, 187, 187);
    text-align: center;
}