/* Other rules */

* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 20px 20px;
}

h2 {
    font-size: 25px;
    font-weight: 700;
}

p {
    font-size: 18px;
}

.container {
    width: 50%;
    height: 100vh;
    margin: auto;
    margin-top: 40px;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.item-red {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid red;
}
  
.item-green {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid green;
}

.item-blue {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid blue;
}

.item-yellow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid yellow;
}

.item-pink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid pink;
}

footer {
    background-color: rgb(187, 187, 187);
    text-align: center;
}